doctype html 
html 
    head 
        title Companies
    body 
        h1 Companies List 
            each companies in data 
                h2 #{companies.properties.name} 
                p #{companies.properties.domain}