doctype html 
html 
    head 
        title  Contacts 
    body 
        h1 Contacts 
            each contact in data 
                h2 #{contact.properties.firstname} #{contact.properties.lastname}
                p #{contact.properties.email}