doctype html 
html 
    head 
        title Deals
    body 
        h1 Deals List 
            each deals in data 
                h3 #{deals.properties.dealname} 
                p Deal Stage: #{deals.properties.dealstage}
                p Deal Amount:  #{deals.properties.amount}